<div class="modal-post-block" id="modal-posts-content">

  <div class="modal-card-post">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= 'item.name' %></p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="card adding-post">
        <label for="add-posts-content" class="text-2xl my-2">留言：</label>
        <textarea id="posts-content" name="add-posts-content" class="textarea border border-dash border-green-300 rounded-md px-3 py-3" placeholder="請在此輸入文字..."></textarea>
        <button class="button is-success btn-save-adding my-2" id="btn-post-submit" data-postId="" disabled>送出</button>
      </div>
      <div class="card added-post">
        <div class="card-content">
         <p class="title">mainTitle</p>
         <p class="subtitle">subTitle</p>
        </div>
        <div class="card-footer">
          <p class="card-footer-item">
            <span>
              <i class="far fa-thumbs-up"></i>Like
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <i class="fas fa-reply"></i>Reply
            </span>
          </p>
        </div>
      </div>
    </section>
  </div>  
</div>