<div class="modal" id="modal-add-workspace">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">工作區</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label for="add-workspace-name" class="text-2xl my-2">名稱：</label>
      <input type="text" id="add-workspace-name" name="add-workspace-name" class="border border-dash border-green-300 mx-2 px-3 py-3 rounded-md" autocomplete="off">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success btn-save-adding" id="btn-save-adding-workspace" data-workspace-id="" disabled>儲存</button>
      <button class="button btn-cancel-modal">取消</button>
    </footer>
  </div>
</div>

<div class="modal" id="modal-add-board">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">看板</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label for="add-board-name" class="text-2xl my-2">名稱：</label>
      <input type="text" id="add-board-name" name="add-board-name" class="border border-dash border-green-300 mx-2 px-3 py-3 rounded-md" autocomplete="off">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success btn-save-adding" id="btn-save-adding-board" data-workspace-id="" data-board-id="" disabled>儲存</button>
      <button class="button btn-cancel-modal">取消</button>
    </footer>
  </div>
</div>

<div class="modal" id="modal-delete-sidebar-item" data-delete-workspace="true">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">確認刪除</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label class="text-2xl">您確定要刪除嗎？</label>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="btn-confirm-delete-sidebar-item" data-model-id="">確定</button>
      <button class="button btn-cancel-modal" id="btn-cancel-delete">取消</button>
    </footer>
  </div>
</div>

<div class="modal" id="modal-add-workspace-member">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">加入您的團隊成員進入這個工作區：</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label for="add-workspace-member-email" class="text-2xl my-2">email：</label>
      <input type="text" id="add-workspace-member-email" name="add-workspace-member-email" class="border border-dash border-green-300 mx-2 px-3 py-3 rounded-md">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="btn-send-member-email" data-workspace-id="" disabled>寄出邀請信</button>
      <button class="button btn-cancel-modal">取消</button>
    </footer>
  </div>
</div>