
  <div class="tile is-vertical is-3" style="width: 200px;">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification bg-blue-100 navbar-workspace">
          <nav class="panel workspace-list">
            <a id="link-add-workspace">
              <i class="fas fa-plus-square text-teal-600"></i>
            </a>
            <!-- <p class="panel-heading created-workspaces"> -->
              <!-- 我新增的工作區 
              <a id="link-add-workspace">
                 <i class="fas fa-plus-square text-teal-600"></i>
              </a> -->
            <!-- </p> -->
            <div id="created-workspaces">         
            </div>
            <!-- <p class="panel-heading member-workspaces">
              我參與的工作區 
            </p> -->
            
            <div id="member-workspaces">  
          </nav>          
        </article>
      </div>
    </div>
  </div>

<%= render 'shared/frontend/sidebar_modal' %>