<div class="tile is-ancestor mx-1 my-2">
  <div class="tile is-vertical is-3">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification bg-blue-100">
          <nav class="panel">
            <p class="panel-heading">
              我新增的工作區 
              <a data-target="modal-add-workspace" aria-haspopup="true" id="link-add-workspace"></i><i class="fas fa-plus-square text-teal-600"></i></a>
            </p>
            <div id="sidebar">            
            </div>
          </nav>          
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification bg-green-200">
        <p class="title text-md">Group</p>
        <p class="subtitle">群組</p>
        <div class="content">
          <p class="workspace-name"></p>
          <%#= yield %>
        </div>
    </article>
  </div>
</div>

<div class="modal" id="modal-add-workspace">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">新增工作區</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label for="add-workspace-name" class="text-2xl">工作區名稱：</label>
      <input type="text" id="add-workspace-name" name="add-workspace-name" class="border border-dash border-green-300 mx-2 px-3 py-3 rounded-md">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="btn-save-adding-workspace" disabled>儲存</button>
      <button class="button btn-cancel-modal">取消</button>
    </footer>
  </div>
</div>

<div class="modal" id="modal-delete-workspace">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">刪除工作區</p>
      <button class="delete btn-cancel-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <label class="text-2xl">您確定要刪除嗎？</label>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="btn-confirm-delete-workspace" data-workspace-id="">確定</button>
      <button class="button btn-cancel-modal" id="btn-cancel-delete">取消</button>
    </footer>
  </div>
</div>