<div class="tile is-ancestor mx-1 my-2">
  <div class="tile is-vertical is-3">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification bg-blue-100">
          <nav class="panel">
            <p class="panel-heading">
              工作區 Workspace
            </p>
            <div id="sidebar">            
            </div>
          </nav>          
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification bg-green-200">
        <p class="title text-md">Group</p>
        <p class="subtitle">群組</p>
        <div class="content">
          <p class="workspace-name"></p>
          <%#= yield %>
        </div>
    </article>
  </div>

</div>