<div class="chatcontent me">
  <div class="author-reply">
    <div class="author">
      <%= message.user.email %>
    </div>
    <div class="message-text">
      <span><%= message.content %></span>
    </div>
  </div>
</div>