<div class="chatcontent <%= "me" if message.user_id == current_user.id%>">
  <div class="author-reply" >
    <div class="author">
      <%= message.user.display_name %>
    </div>
    <div class="message-body">
    	<div class="message-text">
    	  <span><%= message.content %> </span>
    	</div>
    	<div class="message-time">
    		  <span><%= message.created_at.to_s.split()[1] %></span>
    	</div>
    </div>
  </div>
</div>