<div class="tile is-parent main-dashboard" data-turbolinks="false" data-workspace-name="<%= @workspace_name %>">
  <i class="fas fa-chevron-circle-left workspace-list-colse"></i>
  <article class="tile is-child notification main-board">
    <div class="my-3">
      <span class="subtitle my-2 "> <%= current_user.display_name%> 倉儲表 </span>
    </div>
    <div>
        請選擇 ISSUE 要發布的 Repository : <%= select_tag( "repository", options_for_select(@repository.map{ |c| [c["name"], c["full_name"], {'data-user'=>current_user.id}] }, "repository"),class:"repository") %>
    </div>
    <div>
        當前設定的 Repository : <div class="repository-showname"> <%= @nowrepository[0].repository %> </div>
    </div>
    <div class="footer">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
  </article>
</div>