<div id="reply-id-<%= @reply.id %>" class="reply-creating-block">
  <div class="reply-user-name"><%= User.find(@reply.user_id).email[0..6] %>：</div>
  <div class="reply-content"><%= @reply.content %></div>
</div>