<%# <div id="reply-id-<%= @reply.id" class="reply-creating-block"> %>
  <%# <div class="reply-user-name"><%= User.find(@reply.user_id).display_name ：</div> %>
  <%# <div class="reply-content"><%= @reply.content </div> %>
<%# </div> %> 