<div class="tile is-parent main-dashboard">
  <article class="tile is-child notification bg-green-200">
    <p class="title text-md">看板：<%= @board.name %></p>
    <p class="subtitle my-2 ">群組列表</p>
    <div class="content">
      <p class="group-name"></p>
    </div>
  </article>
</div>
