<div class="tile is-ancestor mx-1 my-2">
  <div class="tile is-parent">
    <article class="tile is-child notification bg-green-200">
      <div class="content">
        <p class="title">Workspace</p>
        <p class="subtitle">我加入的工作看板</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-vertical is-10">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification  bg-blue-200">
          <p class="title">小組 Group</p>
        </article>
      </div>
    </div>
  </div>
</div>