<section id="hero-home" class="section hero  text-center">
  <p class="notice"><%= notice %></p>

  <h1 class="title">P Master!皮老闆</h1>
  <br>
  <h2 class="subtitle">
    您最有趣、活潑、專業的<strong>專案管理網站</strong>
  </h2>
  <br>
  <div class="main-pic" >
    <%= image_tag 'home/main-pic.png' %>
  </div>
  <br>
  <div>
    <strong class="home-sign-up"><%= link_to '立刻註冊', new_user_registration_path, class: "sign-up" unless current_user %></strong>
  </div>
  
  <div class="footer-home">
    <p>
      <strong>PMaster</strong> by <a href="https://github.com/https-github-com-tingtinghsu">Ace Team</a>. All rights reserved.
    </p>
  </div>
</section>