
html{
  background-color: #5A815A;
}
a{
  text-decoration: none !important;
  background-color: unset !important;
}
.section{
  padding: 1.5rem;
  
}
.notice{
  font-weight: 600;
  color: rgb(107, 161, 107);
  font-size: 25px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.red{
  background-color: #EEB5AE;
}
.blue{
  background-color: #B4DAE9;
}
.yellow{
  background-color: #ECEBAD;
}
.pink{
  background-color: #FCD3B3;
}
.gray{
  background-color: rgb(209, 202, 202);
}
.arrow{
  transition: 0.5s;
  transform: rotate(180deg);
}
//item-status 

.item-td{
  display: flex;
  align-items: center;
  .item-status-option{
    outline: none;
    height: 30px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border-radius: 10px;
    padding:0 5px;
  }
}


//sign-in
.hero-body{
  display: flex;
  justify-content: center;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  .subtitle{
    font-size: 30px;
    margin-bottom: 10px;
    .new-item-submit{
      width: 100px;
      height: 30px;
      padding: 20px;
      font-size: 15px;
      background-color: rgb(69, 175, 69);
      color: white;
      margin: 10px;
      border-radius: 5px;
      transition: .3s;
    }
    .new-item-submit:hover{
      background-color: rgb(51, 42, 42);
      transition: .3s;
    }
  }
  .actions{
    display: flex;
    justify-content: center;
  }
}
.home-sign-in{
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}
.home-sign-up{
  width: 100px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(69, 175, 69);
  margin: 10px;
  color: white;
  border-radius: 5px;
  transition: .3s;
  .sign-up{
    color: white;
  }
}
.home-sign-up:hover{
  background-color: rgb(51, 42, 42);
  color: white;
  transition: .3s;
}
.sign-in-submit{
  width: 100px;
  padding: 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  transition: .3s;
  border: black 1px solid;
}
.sign-in-submit:hover{
  background-color: rgb(51, 42, 42);
  color: white;
  transition: .3s;
}
.sign-in-checkbox{
  display: flex;
  align-items: center;

}
.input{
  width: 100%;
  margin-top: 10px;
}


//new item

.new-item-page{
  background-color: white;
  width: 100%;
  height: 550px;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  border: solid 1px rgb(192, 180, 180);
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
}
.item-wrap{
  display: flex;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;

  .advertising{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
      font-size: 25px;
      margin-bottom: 40px;
    }
    .advertising-article{
      width: 450px;
      display: flex;
    }
    .img{
      width: 300px;
      img{
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  
}
.new-item-title{
    margin-bottom: 30px;
    display: flex;
}

.new-item-title{
    font-size: 30px;
    color: rgb(82, 77, 77);
    height: 20px;
}
.item-object-group{
  width: 45%;
  margin-left: 50px;
  padding-left: 20px;
  border-right: solid #aaa 1px;
  box-sizing: border-box;
}
.item-body{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    color: rgb(98, 92, 92);
    .check-box-tag{
        margin-right: 10px;
    }
    .new-item-input{
        line-height: 25px;
        width: 150px;
        outline: none;
    }
}
.tag-meber{
  overflow: auto;
  height: 90px;
  width: 30%;
}
.item-label{
    font-size: 20px;
    margin-right: 10px;
    color: rgb(98, 92, 92);
    font-weight: 500;
}
.assign-label{
    .assign-init{
        margin: 5px 0px;
        text-align: center;
        outline: none;
    }
}
.border-radius{
  border-radius: 10px;
}
#item_status{
  border-radius: 10px;
}
.item-btn{
  margin-left: 150px;
}
.new-item-submit{
  width: 100px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
  background-color: rgb(69, 175, 69);
  color: white;
  margin: 10px;
  border-radius: 5px;
  transition: .3s;
}
.new-item-submit:hover{
  background-color: rgb(51, 42, 42);
  transition: .3s;
}
#item_status{
  outline: none;
}



// group
.group-card{
  width: 170px;
  margin-top: 70px;
  margin-left: 100px;
  .group-input{
    border-radius: 5px;
  }
}



// body
body{
  background-color: #5A815A;
  margin-bottom: 0;
}



// navbar 
.navbar-brand{
  display: flex;
  align-items: center;
}
.navbar-brand, .navbar-menu
{
  background-color: #5A815A;

  .navbar-link{
    color: white;
  }
  .navbar-end{
    a:hover{
      color: #ECC94B;
    }
  }
  .navbar-item{
    color: white;
    font-size: 40px;
    font-weight: 500;
    .logo{
      width: 180px;
      height: 60px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      img{
        width: 100%;
        height: 100%;
      }
     
    }
    
    .github-link{
      position: absolute;
      bottom: 20px;
      width: 40px;
      height: 50%;
    }
    .github-link-img{
      cursor: pointer;
    }
    
  }
  
  .outside-link-background-disappear{
    display: none;
    
  }
  .outside-link-board-integrations-disappear{
    display: none;
  }
  
  .outside-link-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 42, 42, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .close{
      font-size: 35px;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
    .outside-link-board-integrations-disappear{
      display: none;
    }
    .outside-link-board-disappear{
      display: none;
    }
    .outside-link-board, .outside-link-board-integrations{
      width: 70%;
      height: 70%;
      background-color: rgb(31, 28, 28);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      position: relative;

      .outside-link-back{
        cursor: pointer;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 30px;
        h2{
          margin-left: 15px;
        }

      }
      .outside-link-menu{
        width: 80%;
        height: 80%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 50px;
        .outside-link-menu-title{
          width: 80%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(31, 28, 28);
          border-bottom: gray 3px solid;
          position: absolute;
          top: 0;
          font-size: 30px;
          font-weight: 600;
        }
        .btn-integrations{
          cursor: pointer;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(31, 28, 28);
          background-color: #aaa;
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 600;
          padding: 10px;
        }
        .btn-explore{
          cursor: pointer;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(31, 28, 28);
          background-color: #aaa;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 600;
          padding: 10px;
        }
        .outside-link-item{
          cursor: pointer;
          width: 50%;
          height: 15%;
          background-color: rgb(31, 28, 28);
          border-radius: 10px;
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
         
      }
      .outside-link-item{
        width: 40%;
        height: 20%;
        color: white;
        background-color: white;
        border-radius: 10px;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .outside-link-title{
          margin-left: 10px;
        }
        .github-link{
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }

    .outside-link-board-nextpage-disappear{
      display: none;
    }
    .outside-link-board-nextpage{
      width: 70%;
      height: 70%;
      background-color: rgb(31, 28, 28);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      position: relative;
      .outside-link-back-nextpage{
        cursor: pointer;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 30px;
        h2{
          margin-left: 15px;
        }

      }
      .outside-link-menu{
        width: 80%;
        height: 80%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 50px;
        .outside-link-menu-title{
          width: 80%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(31, 28, 28);
          border-bottom: gray 3px solid;
          position: absolute;
          top: 0;
          font-size: 30px;
          font-weight: 600;
        }
       
        
      }
      .outside-link-item-nextpage{
        cursor: pointer;
        width: 40%;
        height: 20%;
        color: black;
        background-color: white;
        border-radius: 10px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .outside-link-title{
          margin-left: 20px;
        }
      }
      
    }

    .outside-link-board-thirdpage-disappear{
      display: none;
    }
    .outside-link-board-thirdpage{
      width: 70%;
      height: 70%;
      background-color: rgb(31, 28, 28);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      position: relative;
      .outside-link-back-thirdpage{
        cursor: pointer;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 30px;
        h2{
          margin-left: 15px;
        }

      }
      .outside-link-menu{
        width: 80%;
        height: 80%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 50px;
        .outside-link-menu-title{
          width: 80%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(31, 28, 28);
          border-bottom: gray 3px solid;
          position: absolute;
          top: 0;
          font-size: 30px;
          font-weight: 600;
        }
       
        
      }
      .outside-link-item{
        cursor: pointer;
        height: 10%;
        color: white;
        background-color:rgb(31, 28, 28);
        border-radius: 10px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 10px;
        .outside-link-title{
          margin-left: 10px;
        }
      }
      .context{
        display: flex;
        justify-content: center;
        .context-item{
          text-align: center;
          p{
            font-size: 20px;
          }
          input{
            width: 150px;
            outline: none;
            height: 30px;
            background-color: rgb(31, 28, 28);
            color: white;
          }
        }
        
      }
      .add-to-board{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #aaa;
        color: rgb(31, 28, 28);
        border-radius: 10px;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 600;
        padding: 10px;
        cursor: pointer;
      }
      
      
    }
  }
 



  

  .buttons{
    margin: 0;
    margin-right: 10px;
    position: relative;
    .sign-in-buttons{
      // border: solid red 1px;
      background-color: #EFF4EF;
      height: 0;
      width: 150px;
      position: absolute;
      top: 30px;
      left: 10px;
      overflow: hidden;
      background: rgba(255,255,255,.8);
      box-shadow: 0 2px 5px rgba(0,0,0,.3);
      margin: 0;
      padding: 0;
      transition: 0.5s;
      z-index: 100000;
      strong{
        a{
          display: block;
          padding: 5px 10px;
          line-height: 34px;
          font-size: 14px;
          text-align: center;
        }
        
      }
    }
    .sign-in-buttons-open{
      height: 132px;
      transition: 0.5s;
      
    }
  
  }

  
  @media screen and (min-width: 768px){
    .buttons .sign-in-buttons{
      top: 70px;
    }
  }
 
  .sign-out-status{
    display: flex;
    margin-top: 4px;
  }
  .sign-out-buttons{
    color: white;
    outline: none;
  }
  
  .arrow{
    transition: 0.5s;
    transform: rotate(180deg);
  }
  .arrow_icon{
    font-size: 20px;
    transition: 0.5s;
    margin-right: 20px;
  }
  .sign-in-name{
    color: white;
    display: flex;
    align-items: center;
    color: #ECC94B;
    margin-left: 10px;    
    margin-right: 20px;
  }
  
}







//workspace_list
#media-display-none{
  display: none;
}

.workspace-list{
  width: 100%;
  box-shadow:none;
  .workspace-item{
    width: 200px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    .workspace-name{
      margin: 10px;
      color: #ECC94B;
      font-size: 20px;
      font-weight: 500;
      width: 150px;
    }
  }
  .add-board-p{
    font-weight: 600;
  }
}
.workspace-list-colse{
  position: absolute;
  top: 100px;
  left: 0;
  font-size: 30px;
  background-color: white;
  z-index: 1;
  border-radius: 100%;
  transition: .3s;
}
.add-workspace{
  display: flex;
  align-items: center;
  span{
    margin-left: 10px;
    color: white;
    font-weight: 600;
  }
}
.board-name{
  font-weight: 500;
}
.fa-level-up-alt{
  font-size: 20px;
  font-weight: 700;
  transform: rotate(90deg);
}
.workspace-arrow-down{
  margin-left: 10px;
}
.add-new-board{
  display: flex;
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
}
.board-item{
  color: white;
  margin-left: 30px;
}
.board-link{
  color: white;
}

.fa-plus-square{
  color: white;
  font-size: 20px;
}
.fa-user-plus, .fa-edit, .fa-trash-alt
{
  color: white;
  margin-left: 10px;
}
.navbar-workspace{
  height: 100%;
  overflow: auto;
  background-color: #5A815A;
  padding: 0px;
}

.fa-folder{
  position: relative;
  font-size: 25px;
  bottom: 5px;
  color: #ECC94B;
  outline: none;
}
.fa-folder:hover{
  background-color: #5A815A;
}
.fa-plus-square:hover{
  background-color: #5A815A;
}





// groups-task-list

.table{
  font-size: 16px;
  font-weight: 500;
  td{
    font-size: 16px;
    font-weight: 500;
  }
}
.item-group-li{
  padding-bottom: 50px;
}
.item-group-li-box{
  display: flex;
  margin-bottom: 20px;
  .item-group-li-p-title{
    font-size: 30px;
    margin-right: 10px;
    line-height: 30px;
  }
  .item-group-li-p-icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #a6bba6;
  }
}
.item-person-span{
  overflow: auto;
}
.item-task{
  position: relative;
}
.task-first-lattice{
  display: flex;
  width: 22%;
  align-items: center;
  position: relative;
  .fa-caret-right{
    font-size: 15px;
    margin-right: 5px;
    transition: 0.5s;
  }
  
  .edit-delete-task{
    // border: 1px solid red;
    position: absolute;
    width: 0px;
    height: 30px;
    background-color: #D3E3D3;
    left: 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }

  .edit-delete-task-open{
    width: 60px;
    transition: 0.5s;
    display: flex;
    align-items: center;
  }
  
  .item-name{
    background-color: #EFF4EF;
    width: 130px;
    transition: .5s;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
  }

}


.items-task tr{
  background-color: #EFF4EF;
}

.items-task td{
    padding:0;
    background-color: #EFF4EF;
    margin: 2px 0;
}

.item-group-top-title th{
  background-color: #D3E3D3;
  color: #8CA38C !important;
}
.item-board-left{
  border-top-left-radius: 10px;
}
.item-board-right{
  border-top-right-radius: 10px;
}
.add-item{
  background-color: #D3E3D3;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  a{
    font-size: 16px;
    color: #8CA38C !important;
  }
  
}





//main-dashboard

.main-dashboard{
  margin-bottom: 100px;
}
.home-dashboard{
  border-radius: 10px;
  background-color: white;

}

.main-dashboard-title p{
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  font-size: 25px;
  position: relative;
  top: 50px;
  left: 0px;
  padding: 20px;
  line-height: 50px;
}

.main-dashboard-pic{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  width: 300px;
}

.main-board{
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
}
.panel{
  width: 100%;
}

.footer{
  padding: 0;
  position: absolute;
  bottom: 50px;
  left: 90px;
}
.footer-edit{
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 100px;
}


  //home
  .hero{
    background-color: white;
  }
  .main-pic{
    // border: red 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-home{
    margin-top: 40px;
  }


@media screen and (max-width: 1200px){
  #item-object-group{
    width: 100%;
    margin-left: -45px;
    padding-right: 0px;
    border-right: solid #aaa 1px;
    padding-right: 80px;
    box-sizing: border-box;
  }
  
  
}


  
@media screen and (max-width: 768px){

  //workspace-list
  .workspace-list-colse{
    transform: rotate(90deg);
    // display: none;
  }

  .arrow{
    transition: 0.5s;
    transform: rotate(270deg);
  }

  //outside-link
  
  .github-link{
    left: 25px;
  }
  




  .main-dashboard-pic{
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: auto;
    width: 300px;
  }
  .main-pic{
    width: 100%;
  }

  //new && edit 
  .group-card{
    width: 170px;
    margin-top: 70px;
    margin-left: 0px;
    .group-input{
      border-radius: 5px;
    }
  }

   //item
   .task-point, .date-down{
    display: none;
  }

  .item-name{
    width: 100%;
  }
  .post-icon-and-counts{
    display: none;
  }
  .item-post-column{
    display: none;
  }
  .item-point{
    display: none;
  }
  // .task-arrow{
  //   display: none;
  // }
  // .items-task{
  //   position: relative;
  // }
  // .edit-delete-task{
  //   position: absolute;
  //   left: -60px;
  // }
  
  //
  .item-group-li-p-icon{
    display: flex;
    align-items: center;
  }
  .new-item-submit{
    width: 80px;
    font-size: 10px;
  }
  .item-object-group{
    width: 100%;
    margin-left: 0px;
    padding-right: 0px;
    border-right: solid #aaa 1px;
    box-sizing: border-box;
  }
  .tag-meber{
    width: 60%;
  }
  .new-item-submit{
    width: 80px;
    font-size: 10px;
  }
  
  .item-label{
    font-size: 15px;
    color: rgb(98, 92, 92);
    font-weight: 500;
  }
  .item-btn{
    margin-left: 150px;
  }
  .item-wrap{
    display: flex;
    .advertising{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      h2{
        font-size: 20px;
        margin-bottom: 40px;
      }
      .advertising-article{
        width: 450px;
        display: flex;
      }
      .img{
        width: 270px;
        img{
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    
  }
  .main-board{
    // position: relative;
    .footer{
      position: absolute;
      bottom: 10px;
    }

  }
  
  .footer-edit{
    padding: 0;
    position: absolute;
    bottom: 40px;
    left: 150px;
  }
  .footer-dashboard{
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 100px;
  }
  .group-card{
    width: 170px;
    margin-top: 70px;
    margin-left: 0px;
    .group-input{
      border-radius: 5px;
    }



  }
 

  //navbar
  .sign-out-status{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .navbar-end{
    .hamburger-item{
      margin-left: 17px;
    }
   
  }
  .burger{
    margin-left: auto;
  }
  .sign-in-name{
    margin-left: 30px;
  }


  //sign-in
  .input{
    width: 100%;
  }
}
@media screen and (min-width: 1030px){
  .navbar-menu .outside-link-background{
    width: 86%;
  }
  #outside-link-item{
    width: 40%;
  }
  
 
  
  
}

@media screen and (min-width: 768px){
  .buttons .sign-in-buttons{
    top: 70px;
  }
  .outside-link-item-nextpage .fa-github,.outside-link-item-nextpage .outside-link-title{
    font-size: 60px;
  }
}
