.container{
    margin: 30px;
}
.chatbox{
    display: flex;
    width: 100px;
}
.channel{
    width: 100px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    line-height: 40px;
    background-color: rgb(58, 212, 223);
}

.chatroom-input{
  display: flex;
  width: 500px;

  .btn{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    width: 50px;
    background-color: #aaa;
  }
}
.chatcontent{
  display: flex;
  .message-text{
    background-color: #eeeeee;
    border-radius: 15px;
    padding: 10px;
  }
  
}
.me{
  display: flex;
  justify-content: flex-end;
  .message-text {
    background-color: rgb(49, 49, 214);
    color: #fefcfc;
    display: flex;
    justify-content: center;
      

    
  }
}

