.container{
    margin: 30px;
}
.chatbox{
    display: flex;
    width: 100px;
}
.channel{
    width: 100px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    line-height: 40px;
    background-color: rgb(58, 212, 223);
    // border: red solid 1px;
}
.messagesbox{
    // border: solid rebeccapurple 1px;
    width: 1000px;
    margin: 20px;

    h2{
        font-size: 30px;
    }
    .chatcontent-box{
        // border: solid red 1px;
        margin: 20px 0;
        background-color: rgb(229, 226, 226);
        overflow-y: auto;
        height: 200px;

        .chatcontent{
          margin: 20px 10px;
          // border: royalblue solid 1px;

        }
        .author{
          display: flex;
          justify-content: flex-end;
        }
        .message-text{
          padding: 5px;
          display: flex;
          justify-content: flex-end;
          
          span{
            display: inline-block;
            background-color: #3356f3;
            line-height: 30px;
            padding: 10px;
            border-radius: 10px;
            color: snow;

          }
        }
        &.me{
          .author{
            margin: 20px 10px;
            border: red solid 1px;
            background-color: red;
  
          }
        }
    }
    
    .chatroom{
        display: flex;
    }
}

.chatroom-input{
  display: flex;
  width: 1000px;

  .btn{
    text-align: center;
    display: inline-block;
    line-height: 40px;
    width: 50px;
    background-color: #aaa;
  }
}