.item-of-task-list{
  display: flex;
  justify-content: space-evenly;
  .item-name-abc{
    flex-grow: 2 ;
    background-color: aqua;
    text-overflow: ellipsis;
    // width: 150px;
    overflow: auto;
    white-space: nowrap;
  }
  .item-due-date-abc{

  }
  .item-status-abc{

  }
}