.mytask-item-group-top-title{
  display: flex;
  justify-content: flex-start;
}
.mytask-items-task{
  display: flex;
  
  .mytask-item-name{
    overflow-x: hidden;
    white-space: nowrap;
  }
}
.mytask-group-item-list{
  padding-bottom: 50px;
}

.is-removed-for-mytask{
  display: none;
}
.is-active-for-mytask{
  display: block;
}