/* #remote-video-container{
  display: flex;
}

#remote-video-container > video {
  margin: 1px;
  padding: 1px;
} */
.container-all{
	height: 100%-76px;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.webcam-btn{
	z-index: 99;
	padding-bottom: 5px;
}
.webcam-btn button{
	width: 100px;
	padding: 1px 0px;
	background-color: tan;
	border-radius: 10px;
}
.container-for-webcam{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: row;
}
#current-user{
	/* flex-grow: 1; */
	flex-grow: 1;
	height: 100%;
	background-color: pink;
}
/* .attendees{
	width: 20%;
	height: 100%;
	background-color: azure;
} */
.is-active-for-attendees{
	width: 20%;
	height: 100%;
	background-color: azure;
}
.attendees div{
	width: 100%;
	height: 150px;
	background-color: burlywood;
	outline: 1px solid crimson;
}