<%# <h1>Webrtc#index</h1>
<p>Find me in app/views/webrtc/index.html.erb</p>
<div data-controls=webcam>
    <video id="player" data-target="main" controls autoplay></video>
    <button id="status" data-action="demo#getUserMedia">開始</button>
    <button id="capture">截圖</button>
    <canvas id="snapshot" width=320 height=240></canvas>

    <video id="remotevideo" data-target="remote" autoplay muted playsinline controls></video>
</div> %>


<div>Random User ID:
  <span id="current-user"><%= @random_number %></span>
</div>

<div id="remote-video-container"></div>
<video id="local-video" autoplay></video>

<hr />

<button id="join-button">
  Join Room
</button>

<button id="leave-button">
  Leave Room
</button>