<div class="container-all">
  <div class="webcam-btn">
    <button id="join-button">Join</button>
    <button id="leave-button">Leave</button>
    <button id="Start-button">Start Cam</button>
    <button id="Stop-button">Stop Cam</button>
    <button id="share-button">Start Desktop</button>
    <button id="not-share-button">Stop Desktop</button>
    <button id="audio-button">audio</button>
  </div>
  <div class="meeting-room">
    <div class="container-for-webcam">
      <div class="attendees" id="remote-video-container">
      </div>
      <video class="local-video" id="local-video" autoplay></video>
    </div>
    <div class="text-room">123</div>
  </div>
</div>

<div style="display: none">Random User ID:
  <span id="current-user"><%= @random_number %></span>
</div>