<div class="container-all">
  <i class="fas fa-chevron-circle-left workspace-list-colse" id="workspace-list-colse-rtc"></i>
  <div class="meeting-room" id="meeting-room">
    <div class="container-for-webcam">
      <div class="attendees" id="remote-video-container">
      </div>
      <video class="local-video" id="local-video" autoplay controls></video>
    </div>
    <%# <div class="text-room">123</div> %>
    <div class="webcam-btn">
      <button onclick="window.history.back()">回上一頁</button>
      <button id="join-button">參加</button>
      <button id="leave-button">離開</button>
      <button id="Start-button">打開相機</button>
      <button id="Stop-button">停止相機</button>
      <button id="share-button">分享畫面</button>
      <button id="not-share-button">Stop Desktop</button>
      <%# <button id="full-button">full screen</button> %>
    </div>
  </div>
  
</div>

<div style="display: none">Random User ID:
  <span id="current-user"><%= @random_number %></span>
</div>