<h1 class="text-xl p-2 m-5 bg-red-300 rounded-md">看板區： <%= @board.name %></h1>

<div class="mx-5 my-5">
  <%= link_to '回board列表', workspace_path(@board.workspace), class: "mt-4 ml-2 px-3 py-1 bg-green-400 text-white block w-32 rounded text-center" %>
</div>