* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "arial";
}

/* all_view */
#all_view {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

/* menu */
#menu {
  width: 70px;
  height: 100vh;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #292F4C;
}


.icon {
  /* border: 1px solid blue; */
  box-sizing: border-box;
  padding: 10px 15px;
}

.icon img {
  width: 100%;
  border-radius: 50%;
}


/* project */
#project {
  /* border: 1px solid gray; */
  display: flex;
  width: calc(100vw - 70px);

}

/* projects_list */
#projects_list {
  border-right: 1px solid gray;
  height: 100vh;
  width: 220px;
  padding: 10px;
}
#workspaces_create{
  height: 40px;
  /* border: 1px solid tomato; */

}
#workspaces_search{
  height: 30px;
  /* text-align: center; */
  /* border: 1px solid tomato; */
  display: flex;
}

/* #workspaces_list{

} */

#workspaces_list .workspaces_item > li{
  font-weight: bold;
}

#workspaces_list .board_item{
  margin-bottom: 15px;
}


#workspaces_search .search_icon{
  flex-grow: 2;
}
#workspaces_search .search_text{
  flex-grow: 8;
}

/* projects_info */
#projects_info {
  /* border: 1px solid yellow; */
  /* width: calc(100% - 130px); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* projects_info_top */
#projects_info_top {
  /* background-color: turquoise; */
  height: 50px;
  padding: 20px 20px 10px 20px;
  display: flex;
}
#board_title{
  width: 300px;
  /* background-color: yellow; */

}
#board_title p{
  font-size: 25px;
  font-weight: bold;
}
#function_bar{
  /* background-color: green; */
  flex-grow: 1;
}
#function_bar #selector{
  display: flex;
  flex-direction: row-reverse;
}
#function_bar #selector_item > li{
  border: 1px solid blue;
}
/* board_filter */
#board_filter{
  border-bottom: 1px solid gray;
  /* height: 50px; */
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}
#create_board{
  background-color: violet;
}
/* #selector{
} */
#selector_item{
  display: flex;
}
#selector_item > li{
  margin: 0 15px;
  padding: 5px;
  border-radius: 30px ;
}

#board_filter #selector_item > li:hover{
  background-color: gray;
}

#projects_info_content{
  
  overflow: scroll;
}