<p>Hello <%= @resource.email %>!</p>

<p>謝謝您使用P Master!的服務</p>

<p>您已經申請變更您的密碼，您可以點擊下面連結進行變更：</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您並沒有申請變更密碼，請忽略這封信，也不需要點擊連結，您的密碼將不會被修改。</p>