<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PMaster-board</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/app/assets/stylesheets/board.css">
</head>

<body>
  <div id="all_view">
    <!-- 最左側menu -->
    <nav id="menu">
      <div class="menu_top">
        <div class="icon"><img src="https://picsum.photos/50/50?random=1"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=2"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=3"></div>
      </div>
      <div class="menu_bottom">
        <div class="icon"><img src="https://picsum.photos/50/50?random=4"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=5"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=6"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=7"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=8"></div>
      </div>
    </nav>

    <!-- project -->
    <div id="project">
      <div id="projects_list">
        <div id="workspaces_create">
          <p>Workspaces</p>
        </div>
        <div id="workspaces_search">
          <div class="search_icon">
            <i class="fas fa-search"></i>
          </div>
          <div class="search_text">
            <input type="text" placeholder="Filter">
          </div>
        </div>
        <div id="workspaces_list">
          <ul class="workspaces_item">
            <li>Main Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
              </ul>
            <li>2nd Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
              </ul>
            <li>3th Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
              </ul>
            <li>4th Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
              </ul>
          </ul>
        </div>
      </div>
      <div id="projects_info">
        <div id="projects_info_top">
          <div id="board_title">
            <p>Board title</p>
            <div>board description</div>
          </div>
          <div id="function_bar">
            <div id="selector">
              <nav>
                <ul id="selector_item">
                  <li>Member</li>
                  <li>Integrations</li>
                  <li>Automations</li>
                  <li>Star zoom call</li>
                  <li>Who is on this board?</li>
                  <li>Activities</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div id="board_filter">
          <div id="create_board">Main table</div>
          <div id="selector">
            <nav>
              <ul id="selector_item">
                <li>New item</li>
                <li>Search</li>
                <li>Person</li>
                <li>filter</li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="projects_info_content">
          <img src="https://picsum.photos/1300/300?random=21">
          <img src="https://picsum.photos/1300/300?random=22">
          <img src="https://picsum.photos/1300/300?random=23">
          <img src="https://picsum.photos/1300/300?random=24">
        </div>
      </div>
    </div>

  </div>

</body>

</html>