<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PMaster-inbox</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="inbox.css">
</head>

<body>
  <div id="all_view">
    <!-- 最左側menu -->
    <nav id="menu">
      <div class="menu_top">
        <div class="icon"><img src="https://picsum.photos/50/50?random=1"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=2"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=3"></div>
      </div>
      <div class="menu_bottom">
        <div class="icon"><img src="https://picsum.photos/50/50?random=4"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=5"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=6"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=7"></div>
        <div class="icon"><img src="https://picsum.photos/50/50?random=8"></div>
      </div>
    </nav>

    <!-- project -->
    <div id="project">
      <div id="projects_list">
        <div id="workspaces_create">
          <p>Workspaces</p>
        </div>
        <div id="workspaces_search">
          <div class="search_icon">
            <i class="fas fa-search"></i>
          </div>
          <div class="search_text">
            <input type="text" placeholder="Filter">
          </div>
        </div>
        <div id="workspaces_list">
          <ul class="workspaces_item">
            <li>Main Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
              </ul>
            <li>2nd Workspace</li>
              <ul class="task_item">
                <li>Task 1</li>
                <li>Task 2</li>
              </ul>
            <li>3th Workspace</li>
            <li>4th Workspace</li>
          </ul>
        </div>
      </div>
      <div id="inbox">
        <img src="https://picsum.photos/600/400?random=11">
        <img src="https://picsum.photos/600/400?random=12">
        <img src="https://picsum.photos/600/400?random=13">
        <img src="https://picsum.photos/600/400?random=14">
        <img src="https://picsum.photos/600/400?random=15">
        <img src="https://picsum.photos/600/400?random=16">
      </div>
    </div>

  </div>

</body>

</html>